*{
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: pink;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85.8vh;
}
.palevioletred{
    background-image: linear-gradient(to left, rgb(150, 42, 78), rgb(211, 60, 60)) ;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bordeForm{
    width: 450px;
    background-image: linear-gradient(to right, rgb(252, 252, 13), rgb(140, 201, 28));
    border-radius: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bordeForm2{
    width: 450px;
    background-color: rgb(155, 155, 49);
    border-radius: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloqueCrearCuenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloqueClaveInvalida{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloqueBienvenida{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bordeForm3{
    width: 450px;
    border-radius: 2rem;
    padding-top: 1rem;
    background-color: rgb(190, 235, 124);
}
.verde{
    color: green;
}
.greenyellow{
    background-color: greenyellow;
}
.orange{
    background-color: orange;
}
.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputForm{
    width: 50%;
    margin: 1rem 0;
}
.botonCrearCuenta{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.botonVolver{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#crearCuenta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.claveInvalida{
    color: red;
}
#btnValidar{
    background-color: yellow;
}
.botonConfirmacion{
    width: 70%;
    padding: 10px 20px;
    border-radius: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
footer{
    background-color: black;
}
.blanco{
    color: white;
}