{{#partial "contenidoAgSec" }}
<header>
        <h1>MI IMPACTO AMBIENTAL</h1>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Agente Sectorial</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">{{usuario.nombre}}</h3>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./indexAgSec.hbs">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Visualizar reportes</a></li>
                      <li><a class="dropdown-item" href="./recomendacionesAgSec.hbs">Ver recomendaciones</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Login/login.hbs">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main style="background-color: #33a5c2;">
        <h1>RECOMENDACIONES ACTUALES</h1>

        <a style="color: rgb(255, 31, 1);" href="{{linkRecomendacionesAgSec}}">Guía de recomendaciones actuales.pdf</a>
        <section style="display: flex; justify-content: space-evenly; width: 100%; margin-top: 1rem;">
            <a id="compartirMail" type="button" class="btn btn-lg" style="margin-bottom: 1rem; background-color: #3207f1; color: white;">Compartir por Email</a>
            <a id="compartirWsp" type="button" class="btn btn-lg" style="margin-bottom: 1rem; background-color: #3207f1; color: white;">Compartir por WhatsApp</a>
          </section>
    </main>
    <footer style="background-color: black;">
        <p style="color: white;">@2022 Todos los derechos reservados</p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="../../Public/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{{/partial}}
{{>baseAgSec.hbs}}