    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi impacto ambiental - Organizacion</title>
        <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
            <h1>MI IMPACTO AMBIENTAL</h1>
            <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Organizaci贸n</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <h3 id="nombreUsuario">{{usuario.nombre}}</h3>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Acciones
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="./registrarMediciones.html">Registrar medici贸n</a></li>
                          <li><a class="dropdown-item" href="./aceptarVinculaciones.html">Aceptar vinculaci贸n</a></li>
                          <li><a class="dropdown-item" href="./recomendaciones.html">Ver recomendaciones</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../login/login.html">Cerrar sesi贸n</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <main style="background-color: #873ab9; height: 2000px;">
            <h1>REPORTES</h1>
            <div>
            <select id="valueTipoReporte" class="form-select" aria-label="Default select example" name ="tipo_reporte">
                                                    <option selected value="">Mes</option>
                                                    <option value="hc">HC por clasificacion</option>
                                                    <option value="composicion">Composicion</option>
                                                    <option value="evolucion">Evolucion</option>
            </select>
            </div>
<div id="valueBack">{{reportes}}</div>
            <h1>GRAFICO COMPOSICION</h1>
                <div style="width: 50%; background-color: white;">

                    <canvas id="graficaComp"></canvas>
                </div>
                <h1>GRAFICO EVOLUCION</h1>
                                <div style="width: 50%; background-color: white;">

                                    <canvas id="graficaEv"></canvas>
                                </div>
        </main>
        <footer style="background-color: black;">
            <p style="color: white;">@2022 Todos los derechos reservados</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                let grafica = document.getElementById("graficaComp");

              valor = document.getElementById("valueBack").value;

                const data = {
                    labels: [
                        `${valor}`,
                        'Blue',
                        'Yellow'
                    ],//NOMBRES DE LOS SECTORES
                    datasets: [{
                        label: 'Huella de Carbono',
                        data: [300, 50, 100],//VALORES DE HC DE LOS SECTORES
                        backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                };

                const config = {
                    type: 'doughnut',
                    data: data,
                };

                var chart = new Chart(grafica, config)


                let graficaEv = document.getElementById("graficaEv");

                        const dataEv = {
                        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
                        datasets: [{
                            label: 'Huella de Carbono',
                            data: [65, 59, 80, 81, 56, 55, 40],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                        };

                        const configEv = {
                            type: 'line',
                            data: dataEv,
                        };

                        var chart2 = new Chart(graficaEv, configEv)
            </script>



        <script>
            let tiposTransporte = document.querySelector("#valueTipoReporte")
                      tiposTransporte.addEventListener("change", cambiarTipoReporte)
                      function cambiarPeriodicidad(e){
                        e.preventDefault()
                        let tipo = this.value
                        let html = ``;
                        switch(tipo){
                          case "hc":{
                            html+=`

                            `
                            break;
                          }
                          case "composicion":{
                            html+=`

                            `
                            break;
                          }
                          case "evolucion":{
                                                      html+=`

                                                      `
                                                      break;
                                                    }
                          default: break;
                        }
                        document.querySelector("#contenidoTransporteElegido").innerHTML = html;
                      }
        </script>

        <script src="../../Public/navbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
    </html>