<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental - Organizacion</title>
    <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
        <h1>MI IMPACTO AMBIENTAL</h1>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Organización</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">{{usuario.nombre}}</h3>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./registrarMediciones.html">Registrar medición</a></li>
                      <li><a class="dropdown-item" href="./aceptarVinculaciones.html">Aceptar vinculación</a></li>
                      <li><a class="dropdown-item" href="./recomendaciones.html">Ver recomendaciones</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../login/login.html">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main style="background-color: #873ab9;">
        <h1>VALOR DE SU HUELLA DE CARBONO</h1>
        <form method = "post" action = "hc">
                <select class="form-select" aria-label="Default select example" name= "mes_periodo">
                                                         <option selected value="">Mes</option>
                                                         <option value="1">Enero</option>
                                                         <option value="2">Febrero</option>
                                                         <option value="3">Marzo</option>
                                                         <option value="4">Abril</option>
                                                         <option value="5">Mayo</option>
                                                         <option value="6">Junio</option>
                                                         <option value="7">Julio</option>
                                                         <option value="8">Agosto</option>
                                                         <option value="9">Septiembre</option>
                                                         <option value="10">Octubre</option>
                                                         <option value="11">Noviembre</option>
                                                         <option value="12">Diciembre</option>
                </select>
                 <input class="form-control" type="text" placeholder="Año" name = "anio_periodo">
                 <select class="form-select" aria-label="Default select example" name= "tipo_periodicidad">
                                         <option selected value="">Tipo Periodicidad</option>
                                         <option value="ANUAL">Anual</option>
                                         <option value="MENSUAL">Mensual</option>
                 </select>
                 <button type="submit" class="btn btn-light btn-lg">CALCULAR HC</button>

        </form>
        <h1>Su huella de carbono para el periodo seleccionado es: {{hcOrganizacion}}</h1>
    </main>
    <footer style="background-color: black;">
        <p style="color: white;">@2022 Todos los derechos reservados</p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="../../Public/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>